.BoxTP
{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 25px;
    background-color: rgb(129, 129, 129);
    width: 550px;
    height: 100px;
    border-radius: 30px;     
}


#Topic1
{
    margin-left: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

#comment1
{
    margin-left: 50px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

#comment2
{
    margin-left: 50px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.Box
{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 25px;
    background-color: rgb(129, 129, 129);
    width: 450px;
    height: 100px;
    border-radius: 30px;
}
body
{
    background: linear-gradient(rgb(255, 238, 224),rgb(255, 207, 163) );
}


